.app_container {
  display: flex;
  height: 100%;

  @include screen("md") {
    flex-direction: column;
  }
}

.app_canvas_container {
  // width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  position: relative;

  @include screen("md") {
    height: 60%;
  }

  &__spinner {
    position: absolute;
    top: 2rem;
    right: 1rem;
  }
}

.app_ui {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  padding: 2rem 1rem;
  padding-bottom: 4rem;
  overflow-y: auto;

  @include screen("md") {
    max-width: unset;
    height: 40%;
  }

  &__divider {
    height: 1px;
    background-color: #f1f1f1;
  }
}
